/* line 6, ../compass/sass/styles.scss */
body, html {
  font-family: fantasy;
  margin: 0;
}

/* line 13, ../compass/sass/styles.scss */
table {
  border: 1px solid purple;
}

/* line 17, ../compass/sass/styles.scss */
.table {
  width: 25%;
  top: 0;
  bottom: 0;
  right: 0;
}

/* line 25, ../compass/sass/styles.scss */
tr {
  width: 100%;
  display: inline-table;
}

/* line 30, ../compass/sass/styles.scss */
tbody {
  overflow-y: scroll;
  height: 93%;
  position: absolute;
}

/* line 37, ../compass/sass/styles.scss */
#map {
  height: 99vh;
  width: 75%;
  float: left;
}
