/* line 6, ../compass/sass/styles.scss */
body {
  font-family: fantasy;
}

/* line 10, ../compass/sass/styles.scss */
table {
  border: 2px solid purple;
}

/* line 14, ../compass/sass/styles.scss */
#map {
  height: 99vh;
  width: 75%;
  float: left;
}
