<!DOCTYPE html>
<html ng-app="googleMapsApp">
<head>
	<title>
		
	</title>

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="css/styles.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?libraries=places&v=3.exp&signed_in=true&key=AIzaSyAKmlTdiLyHOVLNro9pGoqbt5m7JjXM_NY&libraries=places"></script>


	<script type="text/javascript" src="js/cities.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>

</head>
<body ng-controller="googleMapsController">

	<div id="map">
	</div>

	

<div>
	<form ng-submit="updateMarkers()">
		<input id="filter-input" ng-model="citiesFilter" type="text">
		<input class="btn btn-info" value="Update the map"  type="submit">

		<select ng-model="selectedPlace" ng-options="place for place in placesTypes"></select>

		<table class="table table-striped text-center" border=1>
		<thead>
			<tr>
				<th class="col-md-4">City Name</th>
				<th class="col-md-4">State Name</th>
				<th class="col-md-3">City Rank</th>
			</tr>
		</thead>
			<tbody>
				<tr ng-repeat="city in (filteredCities = (cities | filter: citiesFilter)) track by $index">
					<td class="col-md-4"><a href="#" ng-click="triggerClick($index)">{{city.city}}</a></td>
					<td class="col-md-4">{{city.state}}</td>
					<td class="col-md-3">{{city.yearRank}}</td>
					<td>
						<button type="submit"  ng-click="getDirections(city.lat, city.lon)">Get Directions</button>
					</td>
					<td>
						<button type="submit"  ng-click="zoomToCity(city.lat, city.lon)">Zoom to city</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>

<div id="list-window">
</div>

</body>
</html>